.chargeDetail {
  
  background-color: @color-background;
  .chargeType {
    display: flex;
    -webkit-display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    .type-l {
      
    }
    .type-r {
      align-self: flex-end;
      -webkit-align-self: flex-end;
      .codeBtn {
        color: #fff;
        background-color: @color-theme;
      }
    }
  }
  .chargePort {
    margin-bottom: 20px;
   
    background-color: @color-background-f;
    .portList {
      .item {
        margin: 10px;
        border: 1px solid @color-background-x;
        text-align: center;
        font-size: @font-size-large;
        .index {
          padding: 0 30px;
          color: @font-color;
          background-color: @color-background-x;
        }
        .status {
          color: @font-color-a;
        }
      }
      
    }
  }
  .chargeAddress {
    display: flex;
    -webkit-display: flex;
    justify-content: space-between;
    -webkit-display-justify-content: space-between;
    background-color: @color-background-f;
    margin-bottom: 20px;
    padding: 10px 15px;
    .address-l {

    }
  }
}
.chargeDesc {
  background-color: @color-background-f;
}