  body {
    background-color: #666;
  }

  .home {
    height: 100%;
    .hd-two {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 100;
      background-color: #fff;
      .fa-list-ul,
      .fa-user-circle-o {
        font-size: 2.143rem;
        color: #262930;
      }
      .userIcon {
        position: relative;
        .userBadge {
          position: absolute;
          top: 0;
          right: 0;
        }
      }
      .meun {
        .fa-list-ul {
          font-size: 1.429rem;
        }
        text-align: center;
        line-height: 1rem;
        .meun-text {
          display: block;
          font-size: 0.714rem;
        }
      }
    }
    .list-mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .5);
      z-index: 10;
    }
    /* header icon style */
    .vux-header .vux-header-left, .vux-header .vux-header-right{
      top: 9px;
    }
    .fade-enter-active,
    .fade-leave-active {
      transition: opacity .5s
    }
    .fade-enter,
    .fade-leave-to/* .fade-leave-active in <2.1.8 */
    {
      opacity: 0
    }
    .chargelist-enter-active,
    .chargelist-leave-active {
      transition: all .3s ease-out;
    }
    .chargelist-enter,
    .chargelist-leave-active {
      transform: translateY(100%);
    }
    .tab-swiper {
      background-color: #fff;
      height: 100px;
    }
  }
  /* 地图 */

  .amap-page-container {
    width: 100%;
    height: 100%;
  }
