  body {
    background-color: #666;
  }
  .home {
    .hd-two {
      background-color: #fff;
      margin-bottom: 10px;
      .fa-user-circle-o,.fa-list-ul {
        font-size: 36px;
        color: #262930;
      }
      .fa-list-ul {
        font-size: 20px;
      }
      .userIcon {
        position: relative;
        .userBadge {
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }
    .list-mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .5);
      z-index: 10;
    }
    .fade-enter-active, .fade-leave-active {
      transition: opacity .5s
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
      opacity: 0
    }
    .chargeList {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 80%;
      z-index: 20;
      background-color: blueviolet;
      .listHeader {
        display: flex;
        -webkit-display: flex;
        align-items: center; //垂直居中
        -webkit-align-items: center; //垂直居中
        justify-content:space-between;
        -webkit-justify-content:space-between;
        background: #4478ac;
        .headerL {
          .listTab {     
            width: 200px; 
            background: #4478ac;
            .tabItem {
              color: #fff;
            }
          }
        }
        .headerR {
        }
      }
      .listMainWrap {
        height: 100%;
        overflow: hidden;
      }
        .listMain {
          background-color: @color-background;
          .main-item {
            margin-bottom: 20px;
            padding: 20px 10px;
            background-color: @color-background-f;
          }
          .item-hd {
            background-image: url('./dingwei.png');
            background-size: 17px 27px;
            background-position-y: center;
            background-repeat: no-repeat;
            padding: 0 0 0 50px;
            .item-hd-main {
              display: flex;
              -webkit-display: flex;
              justify-content: space-between;
              -webkit-justify-content: space-between;
              border-bottom:  1px solid #ccc;
              padding: 0 0 10px 0;
              .head-l {
                // border-bottom:  1px solid #ccc;
              }
              .head-r {
                align-self: flex-end;
                -webkit-align-self: flex-end;
              }
            }
            
          }
          .item-ft {   
            display: flex;
            -webkit-display: flex;
            justify-content: space-between;
            -webkit-justify-content: space-between;
            padding-top: 10px; 
            .foot-l {       
              p:nth-of-type(1) {
                padding: 0 0 0 50px;
              }
              p:nth-of-type(2) {
                padding: 0 0 0 50px;
                background-image: url('./youhui.png');
                background-size: 13px 12px;
                background-position-y: center;
                background-repeat: no-repeat;
              }
            }
            .foot-r {
              align-self: flex-end;
              -webkit-align-self: flex-end;
              .weui-btn_default{    
                color: #fff;
                background-color: #4478ac;
              }
            }
          }
        }
    }
  }